:root {
  --primary-background: #121212;
  --secondary-background: #1e1e1e;

  --primary-text: #eaeaea;
  --secondary-text: #b0b0b0;

  --accent-color: #2a3d66;
}

body {
  background-color: var(--primary-background);
  color: var(--primary-text);
  font-family: "Lato", sans-serif;

  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 400;
  color: var(--primary-text);
}

p,
li,
pre {
  color: var(--secondary-text);
}

#nav-bar {
  font-size: 1.7em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#nav-bar p,
#nav-bar a {
  padding: 0px 1em;
  margin-bottom: 0.5em;
}

#nav-bar a {
  text-decoration: none;
  color: var(--primary-text);
}

#nav-bar a:hover {
  text-decoration: underline;
  color: var(--secondary-text);
}

#overview {
  background-color: var(--secondary-background);
  margin: 2em 5%;
  padding: 1em 2em;

  display: flex;
  flex-flow: row wrap;
}

#name-pic {
  margin: 0px 10px;
  width: 17em;
}

.overview-content {
  margin: 15px 25px;
  width: 25em;
}

.overview-content a {
  text-decoration: none;
}

.overview-content a:hover {
  text-decoration: underline;
}

#name {
  font-size: 2.5em;
}

.about-title {
  font-size: 2.3em;
}

.about-text {
  font-size: 1.7em;
}

#successes {
  background-color: var(--secondary-background);

  margin: 2em 5%;
  padding: 1em 2em;
}

#successes-table {
  margin-left: auto;
  margin-right: auto;

  border-spacing: 0.7em;

  margin: 3em;
}

#successes-table tbody {
  font-size: 1.7em;
}

#successes-table tbody tr:nth-child(even) {
  background-color: #141414;
}

#resources {
  background-color: var(--secondary-background);
  margin: 2em 5%;
  padding: 1em 2em;

  display: flex;
  flex-flow: row wrap;
}

#resource-links {
  width: 50%;
  font-size: 2em;

  margin: 2em 3em;
}

#resource-links a {
  color: var(--secondary-text);
}

#good-at {
  display: flex;
  flex-flow: row wrap;

  justify-content: space-around;
}

.good-at-container {
  width: 20em;
  padding: 0.5em 2em;
  background-color: #2852ab;

  margin: 1.5em;

  border-radius: 0.5em;
}

.good-at-container p {
  font-size: 1.2em;
  word-spacing: 0.3em;
}
